!!!5
%html{class: "no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title La mejor comida en restaurant facilito
		%link{rel:"stylesheet", href:"style.css"}
		%meta{name:"description", content:"Come rico en el mejor restautarante de la ciudad, servicio de primera"}
		%meta{name: "viewport", content:"width=device-width, initial-scale=1"}
	%body
		%p#message Parece que no pudimos conectarnos a internet, no hay problema, aqui está la informacion que necesitas.
		.container
			%h1 Restaurant Facilito
			%p
				%strong Dirección
				Av. Xelha con Xcareted Cancun Quintana Roo
			%p
				%strong Horario
				5pm - 11pm
			%p
				%strong Telefono
				9998625441
			#map
				%img{src:"map.jpg"}
				%p Este mapa ofrece referencias del local
